*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --logo-color: #2196f3;
  --link-color: #212121;
  --contactlink-color: #757575;
  --footlogo-color: #ffffff;
  --grey-color: #757575;
  --accent-color: #2f303a;
  --second-color: #f5f4fa;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-decoration: none;
  display: inline-block;
  margin-top: 24px;
}
.navlink {
  display: flex;
  margin-left: 93px;
}
.navlink li {
  margin-right: 50px;
}
.navlink li:last-child {
  margin-right: 0;
}
.navcont {
  display: flex;
  margin-left: auto;
}
.navcont li {
  margin-right: 50px;
}
.navcont li:last-child {
  margin-right: 0;
}
.container {
  display: flex;
  align-items: center;
  margin-left: 215px;
  margin-right: 215px;
}
.headlogo {
  color: var(--link-color);
}
.footlogo {
  color: var(--footlogo-color);
}
.activelink {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--logo-color);
  text-decoration: none;
  display: block;

  margin-top: 32px;
}
.activelink:hover,
.activelink:focus {
  color: var(--logo-color);
}
.link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--link-color);
  text-decoration: none;
  display: block;
  margin-top: 32px;
}
.link:hover,
.link:focus {
  color: var(--logo-color);
}
.contactlink {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--contactlink-color);
  display: block;
  margin-top: 32px;
}
.contactlink:hover,
.contactlink:focus {
  color: var(--logo-color);
}
.linkfoot {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.linkfoot:hover,
.linkfoot:focus {
  color: var(--logo-color);
}
.head {
  background: var(--accent-color);
  text-align: center;
}
.sectiontitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--footlogo-color);
  text-align: center;
  display: block;
  margin-left: 452px;
  margin-right: 452px;
}
.button {
  width: 200px;
  height: 50px;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--footlogo-color);
  display: inline-block;
  text-align: center;
}
.button:hover {
  cursor: pointer;
}
.containerfeature {
  display: flex;
  margin-left: 215px;
  margin-right: 215px;
}
.containerfeature li {
  margin-right: 30px;
}
.containerfeature li:last-child {
  margin-right: 0px;
}
.wedoing {
  display: flex;
  justify-content: space-between;
  margin-left: 215px;
  margin-right: 215px;
}
.wedoing li {
  margin-right: 30px;
}
.wedoing li:last-child {
  margin-right: 0px;
}

.features {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.headline {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.headlineteam {
  display: flex;
  justify-content: space-between;
  margin-left: 215px;
  margin-right: 215px;
}
.headlineteam li {
  margin-right: 30px;
}
.headlineteam li:last-child {
  margin-right: 0px;
}
.team {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
footer {
  background-color: var(--accent-color);
}
.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--footlogo-color);
}
.address:hover,
.address:focus {
  color: var(--logo-color);
}

.portbutton {
  display: flex;
  margin-left: 495px;
}
.portbutton li {
  margin-right: 8px;
}
.ourwork {
  display: flex;
  flex-wrap: wrap;
  margin-left: 215px;
  margin-right: 215px;
}
.ourwork li {
  margin-right: 30px;
}
.portfoliobutton {
  background: var(--second-color);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.portfoliobutton:hover {
  background: var(--logo-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--footlogo-color);
  cursor: pointer;
}
.portfoliobutton:focus {
  background: var(--logo-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--footlogo-color);
}
.workname {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--link-color);
}
.work {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
body {
  font-family: Roboto, sans-serif;
}
li {
  list-style-type: none;
}
.feature {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-color);
}
.containerfoot {
  margin-left: 215px;
}
.footcontacs {
  margin-left: 0px;
  padding-left: 0px;
}
