*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --logo-color: #2196f3;
  --link-color: #212121;
  --contactlink-color: #757575;
  --footlogo-color: #ffffff;
  --grey-color: #757575;
  --accent-color: #2f303a;
  --second-color: #f5f4fa;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}
.navlink {
  display: flex;
  align-items: center;
}
.sitenav {
  display: flex;
}
.sitenav .navlist:not(:last-child) {
  margin-right: 50px;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-decoration: none;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.headlogo {
  color: var(--link-color);
}

.activelink {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--logo-color);
  text-decoration: none;
}
.activelink:hover,
.activelink:focus {
  color: var(--logo-color);
}
.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--link-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--logo-color);
}
.headcontacts {
  margin-left: auto;
  display: flex;
}
.headcontacts .contactlist:not(:last-child) {
  margin-right: 50px;
}
.contactlink {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--contactlink-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.contactlink:hover,
.contactlink:focus {
  color: var(--logo-color);
}

.head {
  background: var(--accent-color);
  width: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.sectiontitle {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--footlogo-color);
}
.button {
  width: 200px;
  height: 50px;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--footlogo-color);
  padding: 10px 32px;
}
.button:hover {
  cursor: pointer;
}
.features-section {
  padding: 94px 0;
}
.features-section .list {
  display: flex;
}
.features-section .featurelist:not(:last-child) {
  margin-right: 30px;
}
.feature {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-color);
  margin-bottom: 10px;
}
.features {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.products-section {
  padding-bottom: 94px;
}
.products {
  display: flex;
}
.productslist {
  margin: 30px;
}
.teamlist {
  display: flex;
}
.teamlist li:not(:last-child) {
  margin-right: 30px;
}
.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--link-color);
  padding-top: 30px;
}
.headline {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin-bottom: 50px;
}
.team {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.portfoliobutton {
  background: var(--second-color);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.portfoliobutton:hover {
  background: var(--logo-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--footlogo-color);
  cursor: pointer;
}
.portfoliobutton:focus {
  background: var(--logo-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--footlogo-color);
}
.workname {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--link-color);
}
.work {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
body {
  font-family: Roboto, sans-serif;
}
li {
  list-style-type: none;
}
